<h1> {{titulo}} </h1>

<div class="row">
    <div class="col">
        <label> Nombre Jugador: {{jugador}} </label> <br>
        <input type="text" [(ngModel)]="jugador">
        <button (click) = 'habilitarJuego()' class="btn btn-success"> Jugar </button>
        
        <hr>
         
        <span class="numero"> {{numeroClicks}} </span>
        <button (click) = 'contarClicks()' [disabled] = '!isActivo' class="btn btn-primary btn-block"> DALE! </button>
    </div>
    <div class="col">
        <h2> Ranking </h2>
        <ul class="list-group"> 
            <li *ngFor = "let j of ranking | keyvalue" class="list-group-item">
                <b> {{j.key}} </b> {{j.value}}
            </li>
        </ul>
    </div>
</div>
