<h1> SASS </h1>
<p> 
    Sass es un pre-compilador de CSS y soporta dos formato 
    <code> .sass </code> y <code> .scss </code> 
    y nos genera un <code> .css </code>
</p>

<p> 
    Vamos a usar el formato <code> .scss </code> 
    porque es el mas sencillo para aprender, puesto que soporta que 
    escribamos en <code> .css </code> 
</p>

<p>
    Existen otros compiladores como <code> LESS </code> y <code> STYLUS </code>
</p>

<p> <a href="https://sass-lang.com/" target="_blank"> Documentación Oficial </a> </p>

<span class="borde10"> 10 </span> <br>
<span class="borde50"> 50 </span> <br>

<hr> 

<button class="boton-verde"> Soy Verde </button>
<button class="boton-rojo"> Cancel </button>

<hr>

