<h1> {{titulo}} </h1>

<div class="row mb-3"> <!-- Row BusquedaCrear -->
    <div class="col"> <!-- Col Crear -->
        <a href="#">Cocinar nueva Receta</a>
    </div> <!-- /Col Crear -->

    <div class="col"> <!-- Col Busqueda -->
        Recetas Sin Gluten
        <input type="checkbox" [(ngModel)]="checkGluten">
        <div class="input-group">
            <input type="search" [(ngModel)]="busqueda" class="form-control" placeholder="Busca receta por nombre, cocinero o ingredientes">
            <div class="input-group-append"><span class="input-group-text"><span class="fas fa-search"></span></span></div>            
        </div>

        <div class="p-2 bg-success">
            {{checkGluten}}
            <br>
            {{busqueda}}
        </div>
    </div> <!-- /Col Busqueda -->
</div> <!-- /Row BusquedaCrear -->

<div class="row mb-3"> <!-- Row Detalle -->
    <div class="col-4"> <!-- Col Listado -->
        <h2> Recetas </h2>
        <ul class="list-group"> 
            <li *ngFor="let receta of recetas | recetaFiltro : checkGluten : busqueda" 
                (click)="recetaSeleccionada = receta"
                class="list-group-item {{(receta == recetaSeleccionada)?'active': ''}}">
                {{receta.nombre}}
            </li>
        </ul>
    </div> <!-- /Col Listado -->
    <div class="col-8"> <!-- Col Detalle -->
        <div class="card">
            <img src="{{recetaSeleccionada.foto}}" class="card-img-top" alt="...">
            <div class="card-body">
                <!-- {{recetaSeleccionada | json}} -->
                <p> {{recetaSeleccionada.nombre}} </p>
                <p> {{recetaSeleccionada.cocinero}} </p>
                <p> {{recetaSeleccionada.descripcion}} </p>
            </div>
        </div>
    </div> <!-- /Col Detalle -->
</div> <!-- /Row Detalle -->
